@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #96BB7C;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  max-width: 43rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.form__input {
  border-radius: 5px 0px 0px 5px;
  height: 3.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 1.25rem;
  background-color: #E6E6E6;
}

.form__input::-webkit-input-placeholder {
  color: #737373;
}

.form__input::-moz-placeholder {
  color: #737373;
}

.form__input:-ms-input-placeholder {
  color: #737373;
}

.form__input::-ms-input-placeholder {
  color: #737373;
}

.form__input::placeholder {
  color: #737373;
}

.form__input._form-error {
  color: red;
}

.form__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form__input._form-error::-moz-placeholder {
  color: red;
}

.form__input._form-error:-ms-input-placeholder {
  color: red;
}

.form__input._form-error::-ms-input-placeholder {
  color: red;
}

.form__input._form-error::placeholder {
  color: red;
}

.form__button {
  border-radius: 0px 5px 5px 0px !important;
}

.form__error {
  position: absolute;
  top: 100%;
  left: 0;
  color: red;
  margin-top: 0.625rem;
  padding-left: 1.25rem;
}

.button {
  display: inline-block;
  border: 1px solid #96BB7C;
  border-radius: 5px;
  color: #96BB7C;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@supports (padding-top: clamp( 0.625rem , 0.4934210526rem  +  0.6578947368vw , 0.9375rem )) {
  .button {
    padding-top: clamp( 0.625rem , 0.4934210526rem  +  0.6578947368vw , 0.9375rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.4934210526rem  +  0.6578947368vw , 0.9375rem )) {
  .button {
    padding-top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4934210526rem  +  0.6578947368vw , 0.9375rem )) {
  .button {
    padding-bottom: clamp( 0.625rem , 0.4934210526rem  +  0.6578947368vw , 0.9375rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4934210526rem  +  0.6578947368vw , 0.9375rem )) {
  .button {
    padding-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-right: clamp( 0.9375rem , 0.2796052632rem  +  3.2894736842vw , 2.5rem )) {
  .button {
    padding-right: clamp( 0.9375rem , 0.2796052632rem  +  3.2894736842vw , 2.5rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , 0.2796052632rem  +  3.2894736842vw , 2.5rem )) {
  .button {
    padding-right: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-left: clamp( 0.9375rem , 0.2796052632rem  +  3.2894736842vw , 2.5rem )) {
  .button {
    padding-left: clamp( 0.9375rem , 0.2796052632rem  +  3.2894736842vw , 2.5rem );
  }
}

@supports not (padding-left: clamp( 0.9375rem , 0.2796052632rem  +  3.2894736842vw , 2.5rem )) {
  .button {
    padding-left: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 47.5);
  }
}

.button._fw {
  width: 100%;
}

.button_green {
  background-color: #96BB7C;
  color: #FFF;
}

.fp-init body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[data-fp] {
  min-height: 100vh;
}

.touch [data-fp] {
  min-height: calc(var(--vh, 1vh) * 100);
}

.fp-init [data-fp] {
  z-index: 1;
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  overflow: hidden;
}

.fp-switching [data-fp-section] {
  -ms-touch-action: none;
      touch-action: none;
}

.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fp-init .slider-mode [data-fp-section],
.fp-init .cards-mode [data-fp-section] {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  -o-transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
  transition: transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s, -webkit-transform 0.7s cubic-bezier(0.55, 0.085, 0, 0.99) 0s;
}

.fp-init .fade-mode [data-fp-section] {
  -webkit-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
}

.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 2.5rem;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  gap: 0.625rem;
}

.fp-bullets .fp-bullet {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.25rem;
          flex: 0 0 1.25rem;
  border-radius: 0.625rem;
  background-color: #100c46;
  -webkit-box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0rem 0rem 0.1875rem #6257fe, 0 0 1.875rem rgba(255, 255, 255, 0.8);
  border: 0.0625rem solid #fff;
  opacity: 0.6;
  -webkit-transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  transition: opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
  -o-transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s, -webkit-box-shadow 0.4s ease-in-out 0s;
}

.fp-bullets .fp-bullet-active {
  opacity: 1;
  background-color: #6257fe;
  -webkit-transform: translate3D(-0.3125rem, -0.125rem, 0);
      -ms-transform: translate3D(-0.3125rem, -0.125rem, 0);
          transform: translate3D(-0.3125rem, -0.125rem, 0);
  -webkit-box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
          box-shadow: 0.3125rem 0.125rem 0.1875rem #100c46, 0 0 1.875rem rgba(255, 255, 255, 0.8);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  line-height: 1.25;
  color: #252B42;
  letter-spacing: 0.2px;
}

@supports (font-size: clamp( 1.5rem , 1.0789473684rem  +  2.1052631579vw , 2.5rem )) {
  .title {
    font-size: clamp( 1.5rem , 1.0789473684rem  +  2.1052631579vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.0789473684rem  +  2.1052631579vw , 2.5rem )) {
  .title {
    font-size: calc(1.5rem + 1 * (100vw - 20rem) / 47.5);
  }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem )) {
  .title {
    margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem )) {
  .title {
    margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (font-size: clamp( 1.625rem , 0.7828947368rem  +  4.2105263158vw , 3.625rem )) {
  .title_big {
    font-size: clamp( 1.625rem , 0.7828947368rem  +  4.2105263158vw , 3.625rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 0.7828947368rem  +  4.2105263158vw , 3.625rem )) {
  .title_big {
    font-size: calc(1.625rem + 2 * (100vw - 20rem) / 47.5);
  }
}

.text {
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #737373;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem )) {
  .text {
    margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem )) {
  .text {
    margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (font-size: clamp( 0.875rem , 0.7171052632rem  +  0.7894736842vw , 1.25rem )) {
  .text_big {
    font-size: clamp( 0.875rem , 0.7171052632rem  +  0.7894736842vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7171052632rem  +  0.7894736842vw , 1.25rem )) {
  .text_big {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 47.5);
  }
}

.link {
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2px;
  display: inline-block;
  margin-bottom: 10px;
}

.link:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #FAFAFA;
}

.header._header-scroll {
  background-color: rgba(150, 187, 124, 0.3);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-height: clamp( 4.375rem , 3.8486842105rem  +  2.6315789474vw , 5.625rem )) {
  .header__container {
    min-height: clamp( 4.375rem , 3.8486842105rem  +  2.6315789474vw , 5.625rem );
  }
}

@supports not (min-height: clamp( 4.375rem , 3.8486842105rem  +  2.6315789474vw , 5.625rem )) {
  .header__container {
    min-height: calc(4.375rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

.header__logo {
  position: relative;
  z-index: 10;
  color: #252B42;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.1px;
}

@supports (font-size: clamp( 1.125rem , 0.9671052632rem  +  0.7894736842vw , 1.5rem )) {
  .header__logo {
    font-size: clamp( 1.125rem , 0.9671052632rem  +  0.7894736842vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.9671052632rem  +  0.7894736842vw , 1.5rem )) {
  .header__logo {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 47.5);
  }
}

@supports (margin-right: clamp( 0.625rem , -1.2171052632rem  +  9.2105263158vw , 5rem )) {
  .header__logo {
    margin-right: clamp( 0.625rem , -1.2171052632rem  +  9.2105263158vw , 5rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -1.2171052632rem  +  9.2105263158vw , 5rem )) {
  .header__logo {
    margin-right: calc(0.625rem + 4.375 * (100vw - 20rem) / 47.5);
  }
}

.header__actions {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (margin-right: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem )) {
  .header__actions {
    margin-right: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem )) {
  .header__actions {
    margin-right: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 47.5);
  }
}

.header__button {
  border: none;
}

.header__button_login:hover {
  margin-right: 10px;
}

.menu-open .header__button_join-us {
  color: #737373;
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-open .header__button_join-us:hover {
  color: #252B42;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
  -webkit-column-gap: 2.75rem;
     -moz-column-gap: 2.75rem;
          column-gap: 2.75rem;
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem );
       -moz-column-gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem );
            column-gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) or (column-gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.5);
       -moz-column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.5);
            column-gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

.menu__link {
  color: #737373;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2;
}

.menu__link:hover {
  text-decoration: underline;
}

.icon-menu {
  display: none;
}

.footer__body {
  padding: 50px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4] 1.5fr;
  grid-template-columns: repeat(4, 1fr) 1.5fr;
  gap: 10px;
}

.footer__copy {
  background-color: #FAFAFA;
  padding: 25px 0px;
}

@supports (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-footer__title {
    font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-footer__title {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 47.5);
  }
}

@supports (margin-bottom: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-footer__title {
    margin-bottom: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-footer__title {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

.item-footer__name {
  display: block;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-footer__name:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-footer__name:hover {
  text-decoration: underline;
}

.item-footer__get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.item-footer__get-in-touch:not(:last-child) {
  margin-bottom: 0.625rem;
}

.copy-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.copy-footer__info {
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2px;
  color: #737373;
}

.copy-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

@supports (margin-right: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem )) {
  .copy-footer__social {
    margin-right: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem );
  }
}

@supports not (margin-right: clamp( 0.0000000625rem , -2.1052630691rem  +  10.5263156579vw , 5rem )) {
  .copy-footer__social {
    margin-right: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 47.5);
  }
}

.copy-footer__social_svg:hover .copy-footer__social_icon {
  fill: #E74040;
}

.page__main {
  background-color: #FAFAFA;
}

.page__services {
  margin-top: -6.875rem;
  background-color: #FAFAFA;
  padding-bottom: 80px;
}

@supports (padding-top: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .page__advantages {
    padding-top: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .page__advantages {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .page__advantages {
    padding-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
  .page__advantages {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-top: clamp( 2.5rem , -0.6578947368rem  +  15.7894736842vw , 10rem )) {
  .page__relation,
  .page__pricing,
  .page__reviews,
  .page__subscribe {
    padding-top: clamp( 2.5rem , -0.6578947368rem  +  15.7894736842vw , 10rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , -0.6578947368rem  +  15.7894736842vw , 10rem )) {
  .page__relation,
  .page__pricing,
  .page__reviews,
  .page__subscribe {
    padding-top: calc(2.5rem + 7.5 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 2.5rem , -0.6578947368rem  +  15.7894736842vw , 10rem )) {
  .page__relation,
  .page__pricing,
  .page__reviews,
  .page__subscribe {
    padding-bottom: clamp( 2.5rem , -0.6578947368rem  +  15.7894736842vw , 10rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.6578947368rem  +  15.7894736842vw , 10rem )) {
  .page__relation,
  .page__pricing,
  .page__reviews,
  .page__subscribe {
    padding-bottom: calc(2.5rem + 7.5 * (100vw - 20rem) / 47.5);
  }
}

.page__pricing {
  background-color: #FFDCE0;
}

@supports (padding-top: clamp( 2.5rem , 0.6578947368rem  +  9.2105263158vw , 6.875rem )) {
  .page__team {
    padding-top: clamp( 2.5rem , 0.6578947368rem  +  9.2105263158vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.6578947368rem  +  9.2105263158vw , 6.875rem )) {
  .page__team {
    padding-top: calc(2.5rem + 4.375 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.6578947368rem  +  9.2105263158vw , 6.875rem )) {
  .page__team {
    padding-bottom: clamp( 2.5rem , 0.6578947368rem  +  9.2105263158vw , 6.875rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.6578947368rem  +  9.2105263158vw , 6.875rem )) {
  .page__team {
    padding-bottom: calc(2.5rem + 4.375 * (100vw - 20rem) / 47.5);
  }
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.main-block__info {
  position: relative;
  z-index: 2;
  padding-top: 11.5625rem;
}

.main-block__image {
  margin-right: -100px;
  position: relative;
  z-index: 2;
  padding-top: 90px;
}

.info-block__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-block__background {
  position: absolute;
  right: 0px;
  top: 90px;
  width: 530px;
  height: 620px;
  background-color: #FFF2F3;
  border-radius: 50px;
}

.image-block__icon_1 {
  position: absolute;
  top: 220px;
  right: 83%;
  z-index: 3;
}

.image-block__icon_2 {
  position: absolute;
  top: 185px;
  right: 0px;
  z-index: 3;
}

.image-block__icon_3 {
  position: absolute;
  top: 235px;
  right: 5%;
  z-index: 2;
}

.image-block__img {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 5;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem )) {
  .services__body {
    gap: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem )) {
  .services__body {
    gap: calc(0.625rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.services__item {
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px 40px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  position: relative;
  z-index: 5;
}

.services__item:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

@supports (width: clamp( 3.125rem , 2.5460526316rem  +  2.8947368421vw , 4.5rem )) {
  .item-services__icon img {
    width: clamp( 3.125rem , 2.5460526316rem  +  2.8947368421vw , 4.5rem );
  }
}

@supports not (width: clamp( 3.125rem , 2.5460526316rem  +  2.8947368421vw , 4.5rem )) {
  .item-services__icon img {
    width: calc(3.125rem + 1.375 * (100vw - 20rem) / 47.5);
  }
}

@supports (height: clamp( 3.125rem , 2.5460526316rem  +  2.8947368421vw , 4.5rem )) {
  .item-services__icon img {
    height: clamp( 3.125rem , 2.5460526316rem  +  2.8947368421vw , 4.5rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.5460526316rem  +  2.8947368421vw , 4.5rem )) {
  .item-services__icon img {
    height: calc(3.125rem + 1.375 * (100vw - 20rem) / 47.5);
  }
}

.item-services__title {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

.item-services__border {
  width: 50px;
  height: 2px;
  background-color: #E74040;
}

.item-services__text {
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
  .advantages__body {
    gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.9868421053rem  +  1.3157894737vw , 1.875rem )) {
  .advantages__body {
    gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.advantages__item {
  height: 100%;
  text-align: center;
}

.item-advantages__value,
.item-advantages__add {
  display: inline-block;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

@supports (font-size: clamp( 1.625rem , 0.7828947368rem  +  4.2105263158vw , 3.625rem )) {
  .item-advantages__value,
  .item-advantages__add {
    font-size: clamp( 1.625rem , 0.7828947368rem  +  4.2105263158vw , 3.625rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 0.7828947368rem  +  4.2105263158vw , 3.625rem )) {
  .item-advantages__value,
  .item-advantages__add {
    font-size: calc(1.625rem + 2 * (100vw - 20rem) / 47.5);
  }
}

.item-advantages__text {
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252B42;
}

@supports (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-advantages__text {
    font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-advantages__text {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 47.5);
  }
}

.relation__text-block {
  max-width: 500px;
}

.relation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.relation__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.info-relation__border {
  width: 94px;
  height: 7px;
  background-color: #E74040;
}

@supports (margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem )) {
  .info-relation__border {
    margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.1875rem )) {
  .info-relation__border {
    margin-bottom: calc(0.9375rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (margin-top: clamp( 0.0000000625rem , -2.3684209638rem  +  11.8421051316vw , 5.625rem )) {
  .info-relation__border {
    margin-top: clamp( 0.0000000625rem , -2.3684209638rem  +  11.8421051316vw , 5.625rem );
  }
}

@supports not (margin-top: clamp( 0.0000000625rem , -2.3684209638rem  +  11.8421051316vw , 5.625rem )) {
  .info-relation__border {
    margin-top: calc(0.0000000625rem + 5.6249999375 * (100vw - 20rem) / 47.5);
  }
}

.info-relation__link {
  font-weight: 700;
}

.info-relation__link:hover {
  text-decoration: underline;
}

.info-relation__decor {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  right: 0;
}

.decor-relation__img_1 {
  border-radius: 21px;
  background-color: #FFDCE0;
  position: absolute;
  top: 30px;
  left: 3%;
}

@supports (width: clamp( 2.5rem , 2.1578947368rem  +  1.7105263158vw , 3.3125rem )) {
  .decor-relation__img_1 {
    width: clamp( 2.5rem , 2.1578947368rem  +  1.7105263158vw , 3.3125rem );
  }
}

@supports not (width: clamp( 2.5rem , 2.1578947368rem  +  1.7105263158vw , 3.3125rem )) {
  .decor-relation__img_1 {
    width: calc(2.5rem + 0.8125 * (100vw - 20rem) / 47.5);
  }
}

@supports (height: clamp( 2.5rem , 2.1578947368rem  +  1.7105263158vw , 3.3125rem )) {
  .decor-relation__img_1 {
    height: clamp( 2.5rem , 2.1578947368rem  +  1.7105263158vw , 3.3125rem );
  }
}

@supports not (height: clamp( 2.5rem , 2.1578947368rem  +  1.7105263158vw , 3.3125rem )) {
  .decor-relation__img_1 {
    height: calc(2.5rem + 0.8125 * (100vw - 20rem) / 47.5);
  }
}

.decor-relation__img_2 {
  position: absolute;
  top: 30px;
  right: 7%;
  border-radius: 100px 32px 0px 0px;
  background-color: #FFDCE0;
  z-index: 1;
}

@supports (width: clamp( 12.375rem , 8.6907894737rem  +  18.4210526316vw , 21.125rem )) {
  .decor-relation__img_2 {
    width: clamp( 12.375rem , 8.6907894737rem  +  18.4210526316vw , 21.125rem );
  }
}

@supports not (width: clamp( 12.375rem , 8.6907894737rem  +  18.4210526316vw , 21.125rem )) {
  .decor-relation__img_2 {
    width: calc(12.375rem + 8.75 * (100vw - 20rem) / 47.5);
  }
}

@supports (height: clamp( 16.125rem , 13.7565789474rem  +  11.8421052632vw , 21.75rem )) {
  .decor-relation__img_2 {
    height: clamp( 16.125rem , 13.7565789474rem  +  11.8421052632vw , 21.75rem );
  }
}

@supports not (height: clamp( 16.125rem , 13.7565789474rem  +  11.8421052632vw , 21.75rem )) {
  .decor-relation__img_2 {
    height: calc(16.125rem + 5.625 * (100vw - 20rem) / 47.5);
  }
}

.decor-relation__img_3 {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 5;
}

.decor-relation__img_4 {
  position: absolute;
  right: 0;
  top: 300px;
  z-index: 5;
}

.decor-relation__img_5 {
  position: absolute;
  right: 4%;
  top: -30px;
  z-index: 3;
}

.pricing__text-block {
  max-width: 500px;
}

.pricing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.pricing__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.pricing__item {
  height: 100%;
  background-color: #FFFFFF;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.pricing__item:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.text-block-pricing__title {
  margin-bottom: 10px;
}

@supports (margin-bottom: clamp( 1.25rem , -0.3289473684rem  +  7.8947368421vw , 5rem )) {
  .text-block-pricing__text {
    margin-bottom: clamp( 1.25rem , -0.3289473684rem  +  7.8947368421vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.3289473684rem  +  7.8947368421vw , 5rem )) {
  .text-block-pricing__text {
    margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 47.5);
  }
}

.item-pricing__bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 300px;
}

.item-pricing__sale {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #E74040;
  color: #fff;
  padding: 5px;
  font-weight: 700;
  letter-spacing: 0.2px;
  z-index: 3;
}

.item-pricing__icons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  right: calc(50% - 70px);
  z-index: 3;
}

@supports (bottom: clamp( 18.125rem , 17.3355263158rem  +  3.9473684211vw , 20rem )) {
  .item-pricing__icons {
    bottom: clamp( 18.125rem , 17.3355263158rem  +  3.9473684211vw , 20rem );
  }
}

@supports not (bottom: clamp( 18.125rem , 17.3355263158rem  +  3.9473684211vw , 20rem )) {
  .item-pricing__icons {
    bottom: calc(18.125rem + 1.875 * (100vw - 20rem) / 47.5);
  }
}

.item-pricing__svg:hover .item-pricing__icon_1 {
  stroke: #E74040;
}

.item-pricing__svg:hover .item-pricing__icon_2 {
  fill: #E74040;
}

.item-pricing__svg:hover .item-pricing__icon_3 {
  fill: #E74040;
}

.item-pricing__body {
  padding: 25px;
}

.item-pricing__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-pricing__title {
  margin: 0.625rem 0;
}

@supports (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-pricing__title {
    font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-pricing__title {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 47.5);
  }
}

.item-pricing__text {
  margin-bottom: 0.625rem;
}

.item-pricing__download {
  color: #737373;
  font-weight: 700;
  letter-spacing: 0.2px;
  padding-left: 25px;
  position: relative;
}

.item-pricing__download::before {
  content: url("data:image/svg+xml; charset=UTF-8, <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" viewBox=\"0 0 24 24\"><path d=\"M14.7928932,11.5 L11.6464466,8.35355339 C11.4511845,8.15829124 11.4511845,7.84170876 11.6464466,7.64644661 C11.8417088,7.45118446 12.1582912,7.45118446 12.3535534,7.64644661 L16.3535534,11.6464466 C16.5488155,11.8417088 16.5488155,12.1582912 16.3535534,12.3535534 L12.3535534,16.3535534 C12.1582912,16.5488155 11.8417088,16.5488155 11.6464466,16.3535534 C11.4511845,16.1582912 11.4511845,15.8417088 11.6464466,15.6464466 L14.7928932,12.5 L4,12.5 C3.72385763,12.5 3.5,12.2761424 3.5,12 C3.5,11.7238576 3.72385763,11.5 4,11.5 L14.7928932,11.5 Z M16,4.5 C15.7238576,4.5 15.5,4.27614237 15.5,4 C15.5,3.72385763 15.7238576,3.5 16,3.5 L19,3.5 C20.3807119,3.5 21.5,4.61928813 21.5,6 L21.5,18 C21.5,19.3807119 20.3807119,20.5 19,20.5 L16,20.5 C15.7238576,20.5 15.5,20.2761424 15.5,20 C15.5,19.7238576 15.7238576,19.5 16,19.5 L19,19.5 C19.8284271,19.5 20.5,18.8284271 20.5,18 L20.5,6 C20.5,5.17157288 19.8284271,4.5 19,4.5 L16,4.5 Z\" transform=\"rotate%2890 12.5 12%29\"/></svg>");
  position: absolute;
  left: 0;
}

.item-pricing__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin: 15px 0px;
}

@supports (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-pricing__price {
    font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-pricing__price {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 47.5);
  }
}

.item-pricing__button {
  border-radius: 37px;
}

@supports (padding-top: clamp( 0.3125rem , 0.1809210526rem  +  0.6578947368vw , 0.625rem )) {
  .item-pricing__button {
    padding-top: clamp( 0.3125rem , 0.1809210526rem  +  0.6578947368vw , 0.625rem );
  }
}

@supports not (padding-top: clamp( 0.3125rem , 0.1809210526rem  +  0.6578947368vw , 0.625rem )) {
  .item-pricing__button {
    padding-top: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 0.3125rem , 0.1809210526rem  +  0.6578947368vw , 0.625rem )) {
  .item-pricing__button {
    padding-bottom: clamp( 0.3125rem , 0.1809210526rem  +  0.6578947368vw , 0.625rem );
  }
}

@supports not (padding-bottom: clamp( 0.3125rem , 0.1809210526rem  +  0.6578947368vw , 0.625rem )) {
  .item-pricing__button {
    padding-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-pricing__button {
    padding-right: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-pricing__button {
    padding-right: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-left: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-pricing__button {
    padding-left: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-pricing__button {
    padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

.info-pricing__name {
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2px;
}

.info-pricing__raiting {
  background-color: #2D4059;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.price-item__old {
  color: #BDBDBD;
}

.price-item__new {
  color: #FFAB71;
}

.reviews__text-block {
  max-width: 500px;
}

.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem )) {
  .reviews__body {
    gap: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem )) {
  .reviews__body {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 47.5);
  }
}

.reviews__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.reviews__item {
  height: 100%;
  text-align: center;
}

@supports (padding-top: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem )) {
  .reviews__item {
    padding-top: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem )) {
  .reviews__item {
    padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem )) {
  .reviews__item {
    padding-bottom: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.0986842105rem  +  2.6315789474vw , 1.875rem )) {
  .reviews__item {
    padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-right: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .reviews__item {
    padding-right: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-right: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .reviews__item {
    padding-right: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-left: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .reviews__item {
    padding-left: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , 0.5592105263rem  +  6.5789473684vw , 5rem )) {
  .reviews__item {
    padding-left: calc(1.875rem + 3.125 * (100vw - 20rem) / 47.5);
  }
}

.text-block-reviews__title {
  margin-bottom: 10px;
}

@supports (margin-bottom: clamp( 1.25rem , -0.3289473684rem  +  7.8947368421vw , 5rem )) {
  .text-block-reviews__text {
    margin-bottom: clamp( 1.25rem , -0.3289473684rem  +  7.8947368421vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.3289473684rem  +  7.8947368421vw , 5rem )) {
  .text-block-reviews__text {
    margin-bottom: calc(1.25rem + 3.75 * (100vw - 20rem) / 47.5);
  }
}

.item-reviews__rating {
  margin-bottom: 0.9375rem;
}

.item-reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (width: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .author-reviews__photo img {
    width: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
  }
}

@supports not (width: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .author-reviews__photo img {
    width: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

@supports (height: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .author-reviews__photo img {
    height: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem );
  }
}

@supports not (height: clamp( 1.875rem , 1.3486842105rem  +  2.6315789474vw , 3.125rem )) {
  .author-reviews__photo img {
    height: calc(1.875rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

.author-reviews__sign {
  text-align: left;
}

.author-reviews__name {
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.2px;
}

.author-reviews__profession {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #252B42;
}

.team__text-block {
  max-width: 500px;
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem )) {
  .team__body {
    gap: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5427631579rem  +  1.9736842105vw , 1.875rem )) {
  .team__body {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 47.5);
  }
}

.team__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.team__item {
  height: 100%;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.team__item:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

.text-block-team__title {
  margin-bottom: 10px;
}

@supports (margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem )) {
  .text-block-team__text {
    margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem )) {
  .text-block-team__text {
    margin-bottom: calc(1.25rem + 5.625 * (100vw - 20rem) / 47.5);
  }
}

.item-team__photo img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.item-team__name {
  margin: 30px 0px 10px 0px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: #252B42;
}

@supports (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-team__name {
    font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8223684211rem  +  0.2631578947vw , 1rem )) {
  .item-team__name {
    font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 47.5);
  }
}

.item-team__profession {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 30px 0px;
}

@supports (gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-team__social {
    gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.3618421053rem  +  1.3157894737vw , 1.25rem )) {
  .item-team__social {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 47.5);
  }
}

.item-team__social_svg:hover .item-team__social_icon {
  fill: #E74040;
}

.subscribe__text-block {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.text-block-subscribe__title {
  margin-bottom: 10px;
}

@supports (margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem )) {
  .text-block-subscribe__text {
    margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -1.1184210526rem  +  11.8421052632vw , 6.875rem )) {
  .text-block-subscribe__text {
    margin-bottom: calc(1.25rem + 5.625 * (100vw - 20rem) / 47.5);
  }
}

@media (max-width: 1280px) {
  .main-block__image {
    margin-right: 0px;
  }
}

@media (max-width: 67.5em) {
  .fp-bullets {
    right: 1.25rem;
  }

  .page__services {
    margin-top: -3.125rem;
  }

  .main-block__info {
    padding-top: 7.5rem;
  }

  .image-block__background {
    width: 80%;
    height: 80%;
  }

  .image-block__icon_2 img {
    max-width: 100%;
  }

  .image-block__icon_3 img {
    max-width: 100%;
  }

  .image-block__img img {
    max-width: 100%;
  }

  .decor-relation__img_3 {
    max-width: 40%;
  }

  .decor-relation__img_4 img {
    max-width: 90%;
  }

  .decor-relation__img_5 {
    max-width: 90%;
  }
}

@media (max-width: 61.99875em) {
  .page__services {
    margin-top: 0rem;
  }

  .services__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }

  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__column:not(:last-child) {
    margin-top: 2.5rem;
  }

  .pricing__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pricing__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  .team__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .team__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fp] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .header__actions {
    margin-right: 0;
  }

  .header__button_login {
    margin-right: 10px;
  }

  .menu-open .header__button_login {
    color: #252B42;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #96BB7C;
    gap: 1.875rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

@supports (padding-top: clamp( 7.5rem , 4.8214285714rem  +  13.3928571429vw , 11.25rem )) {
    .menu__body {
      padding-top: clamp( 7.5rem , 4.8214285714rem  +  13.3928571429vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 7.5rem , 4.8214285714rem  +  13.3928571429vw , 11.25rem )) {
    .menu__body {
      padding-top: calc(7.5rem + 3.75 * (100vw - 20rem) / 28);
    }
}

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 2;
  }

@supports (height: clamp( 4.375rem , 3.4821428571rem  +  4.4642857143vw , 5.625rem )) {
    .menu__body::before {
      height: clamp( 4.375rem , 3.4821428571rem  +  4.4642857143vw , 5.625rem );
    }
}

@supports not (height: clamp( 4.375rem , 3.4821428571rem  +  4.4642857143vw , 5.625rem )) {
    .menu__body::before {
      height: calc(4.375rem + 1.25 * (100vw - 20rem) / 28);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__body {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .copy-footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .main-block__container {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .main-block__info {
    padding-top: 2.5rem;
  }

  .advantages__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .relation__body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .relation__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    position: relative;
    padding-top: 400px;
  }

  .info-relation__decor {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .decor-relation__img_2 {
    right: 35%;
  }

  .decor-relation__img_3 {
    right: 10%;
  }

  .decor-relation__img_4 {
    right: 10%;
  }

  .decor-relation__img_5 {
    right: 20%;
  }

  .reviews__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .reviews__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }
}

@media (max-width: 42.5em) {
  .services__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__column:nth-last-of-type(2) {
    margin-top: 0;
  }
}

@media (max-width: 37.5em) {
  .pricing__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 33.125em) {
  .footer__body {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    row-gap: 20px;
  }
}

@media (max-width: 29.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    right: 50%;
  }

  .advantages__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .decor-relation__img_2 {
    display: none;
  }

  .decor-relation__img_5 {
    top: -60px;
  }

  .reviews__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .team__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 26.875em) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__input {
    border-radius: 5px 5px 0px 0px;
  }

  .form__button {
    border-radius: 0px 0px 5px 5px !important;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #96BB7C;
    color: #FFF;
  }

  .button_green:hover {
    border: 1px solid #96BB7C;
    background-color: transparent;
    color: #96BB7C;
  }

  .fp-bullets .fp-bullet:hover {
    opacity: 1;
  }
}